.background{
    background-color: #1A1C19;
}
.surface{
    background-color: #1D2622;
}
.primary-container{
    background-color: #005322;
}
.secondary-container{
    background-color: #394B3B;
}

.white-text{
    color: white;
}
.primary-container:hover{
    background-color: #74DC8C;
}
.secondary-container:hover{
    background-color: #B8CCB7;
}
