body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.radius-small{
    border-radius: 5px;
}
.radius{
    border-radius: 30px;
}
.radius-large{
    border-radius: 60px;
}
.box{
    width: 50%;
    height: 15%;
    border: 1px solid #394B3B;
    padding: 50px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.123);
}
.button{
    padding: 12px 30px 12px 30px;
    border: none;
    cursor: pointer;
    transition: 0.2s all linear;
}
.text-input{
    width: 100%;
    color: white;
    padding: 10px;
}
.input-border{
    border: 2px solid #394B3B;
    transition: 0.2s all linear;
}
.input-border:focus{
    border: 2px solid #B8CCB7;
}